@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);

html, body {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: #041527;
}

ul, p {
    margin: 0;
}

a {
    text-decoration: none;
}

input, button, textarea, input:active, textarea:active, button:active, :focus {
    outline: none;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}


.no-mg {
    margin: 0 !important;
}

.mt-20 {
    margin-top: 20px;
}

.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1;
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none;
}

.page-wrapper {
    background: url(../img/bg-main.png);
    position: relative;
    width: 100%;
    min-height: 2000px;
    background-repeat: repeat;
    overflow: hidden;
    z-index: 200;
}

.container {
    position: relative;
    width: calc(100% - 30px);
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 30px;
    /*z-index: 3;*/
}

img {
    display: block;
}

.centered {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.title, .steps li .step-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.title-small, .title-smaller {
    margin: 25px 0;
    color: #00C6FF;
    font-size: 20px;
    font-family: 'PT Sans', Arial, sans-serif;
}



.title-big {
    color: #00C6FF;
    font-size: 25px;
    line-height: 70px;
    font-weight: normal;
    font-family: 'Open Sans', Arial, sans-serif;
}

    .title-big span {
        display: block;
        font-size: 79px;
        line-height: 87px;
        font-weight: bold;
    }

@media (max-width: 1440px) {
    .title-big {
        font-size: 22px;
        line-height: 60px;
    }

        .title-big span {
            font-size: 79px;
            line-height: 87px;
        }
}

.title-special {
    margin: 10px 0 40px;
    color: #fff;
    font-weight: normal;
}

    .title-special span {
        text-transform: none;
    }

.btn {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    display: inline-block;
    background-color: #02bb71;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'PT Sans', Arial, sans-serif;
    letter-spacing: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-small {
    height: 30px;
    padding: 0 20px;
    line-height: 32px;
    font-size: 12px;
    box-shadow: 0 4px #017e4c;
}

    .btn-small:hover {
        top: 2px;
        box-shadow: 0 2px #017e4c;
    }

    .btn-small:active {
        top: 6px;
        box-shadow: 0 0 #017e4c;
    }


.text, .text-small, .modules .info-full p, .modules .info-short, .modules .info-full li, .planet-3-area .plus span, .block-bottom-content .questions p, .block-bottom-content .questions a {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

.text-small, .modules .info-full p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.block {
    width: 990px;
    margin: 160px auto 30px;
}

    .block span {
        color: #00C6FF;
    }

.block-special {
    margin-top: 50px;
}

.bg-stars {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
}

.tossing {
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        margin-top: -64px;
        transform: rotate(-2deg);
    }

    50% {
        margin-top: -60px;
        transform: rotate(2deg);
    }

    100% {
        margin-top: -64px;
        transform: rotate(-2deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        margin-top: -64px;
        -webkit-transform: rotate(-2deg);
    }

    50% {
        margin-top: -60px;
        -webkit-transform: rotate(2deg);
    }

    100% {
        margin-top: -64px;
        -webkit-transform: rotate(-2deg);
    }
}


.menu-container {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 4;
}



.menu-list {
    display: none;
    margin-top: 20px;
}

    .menu-list li {
        margin-bottom: 8px;
        background-color: #fdfdfd;
        float: left;
        border-radius: 5px;
        clear: both;
    }

    .menu-list a {
        z-index: 1;
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        color: #041527;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        outline: none;
        position: relative;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .menu-list a:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 5px;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            width: 0%;
            height: 100%;
            background: #02bb71;
        }

        .menu-list a:hover, .menu-list a:active {
            color: #fdfdfd;
        }

            .menu-list a:hover:after, .menu-list a:active:after {
                width: 100%;
            }

.user-menu {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 4;
}

    .user-menu .menu-list li {
        float: right;
    }

    .user-menu a.language, .user-menu a.btn {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }

.language {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
}

    .language:after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #02bb71 transparent transparent transparent;
        margin-left: 5px;
    }

.logo-main {
    margin-bottom: 0px;
}

.btn-arrow-down {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -29px;
    z-index: 999;
}

    .btn-arrow-down .arrow-down-p1, .btn-arrow-down .arrow-down-p2, .btn-arrow-down .arrow-down-p3 {
        width: 58px;
        height: 41px;
        position: absolute;
        display: inline-block;
        opacity: 0;
        color:#00C6FF;
        font-family:'Open Sans', Arial, sans-serif;
    }

    .btn-arrow-down .arrow-down-p1 {
       
        -webkit-animation: blinker 3s linear infinite;
        -moz-animation: blinker 3s linear infinite;
        animation: blinker 3s linear infinite;
    }

    .btn-arrow-down .arrow-down-p2 {
       
        -webkit-animation: blinker 3s linear infinite;
        -moz-animation: blinker 3s linear infinite;
        animation: blinker 3s linear infinite;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .btn-arrow-down .arrow-down-p3 {
     
        -webkit-animation: blinker 3s linear infinite;
        -moz-animation: blinker 3s linear infinite;
        animation: blinker 3s linear infinite;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-moz-keyframes blinker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.0;
    }
}

.planet-big {
    z-index: 2;
    position: relative;
    vertical-align: middle;
    width: 944px;
    height: 944px;
    margin-top: 32px;
    background-image:url(../img/earth3.png);
    /*background-image: url(../img/earth-new.png);*/
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.planet-big-content {
    z-index: 100;
    position: absolute;
    top: 638px;
    left: 50%;
    margin-left: -472px;
    width: 944px;
    height: 944px;
    padding-top: 230px;
    text-align: center;
    vertical-align: middle;
}

  
.abs {
    position: absolute;
}

.austro {
    position: absolute;
    top: 1070px;
    left: 45%;
    margin-left: -750px;
    z-index: 3;
}

.dusty {
    position: absolute;
    top: 480px;
    left: 50%;
    margin-left: -640px;
    z-index: 2;
}

.planet-1 {
    top: 420px;
    left: 15%;
}

.moon {
    top: 210px;
    right: 110px;
}

canvas {
    position: absolute;
    z-index: -1;
}

@-webkit-keyframes rot {
    from {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }
}

@-moz-keyframes rot {
    from {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }
}

@-o-keyframes rot {
    from {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }
}

@keyframes rot {
    from {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }
}

@-webkit-keyframes rot-back {
    from {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }
}

@-moz-keyframes rot-back {
    from {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }
}

@-o-keyframes rot-back {
    from {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }
}

@keyframes rot-back {
    from {
        -moz-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-472px) rotate(-360deg);
        transform: rotate(360deg) translate(-472px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-472px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-472px) rotate(0deg);
        transform: rotate(0deg) translate(-472px) rotate(0deg);
    }
}

@-webkit-keyframes rot-inner {
    from {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }
}

@-moz-keyframes rot-inner {
    from {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }
}

@-o-keyframes rot-inner {
    from {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }
}

@keyframes rot-inner {
    from {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }
}

@-webkit-keyframes rot-back-inner {
    from {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }
}

@-moz-keyframes rot-back-inner {
    from {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }
}

@-o-keyframes rot-back-inner {
    from {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }
}

@keyframes rot-back-inner {
    from {
        -moz-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -ms-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        -webkit-transform: rotate(360deg) translate(-437px) rotate(-360deg);
        transform: rotate(360deg) translate(-437px) rotate(-360deg);
    }

    to {
        -moz-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -ms-transform: rotate(0deg) translate(-437px) rotate(0deg);
        -webkit-transform: rotate(0deg) translate(-437px) rotate(0deg);
        transform: rotate(0deg) translate(-437px) rotate(0deg);
    }
}

@-webkit-keyframes rot-rocket {
    from {
        -moz-transform: rotate(0) translateX(-280px);
        -ms-transform: rotate(0) translateX(-280px);
        -webkit-transform: rotate(0) translateX(-280px);
        transform: rotate(0) translateX(-280px);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-280px);
        -ms-transform: rotate(360deg) translateX(-280px);
        -webkit-transform: rotate(360deg) translateX(-280px);
        transform: rotate(360deg) translateX(-280px);
    }
}

@-moz-keyframes rot-rocket {
    from {
        -moz-transform: rotate(0) translateX(-280px);
        -ms-transform: rotate(0) translateX(-280px);
        -webkit-transform: rotate(0) translateX(-280px);
        transform: rotate(0) translateX(-280px);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-280px);
        -ms-transform: rotate(360deg) translateX(-280px);
        -webkit-transform: rotate(360deg) translateX(-280px);
        transform: rotate(360deg) translateX(-280px);
    }
}

@-o-keyframes rot-rocket {
    from {
        -moz-transform: rotate(0) translateX(-280px);
        -ms-transform: rotate(0) translateX(-280px);
        -webkit-transform: rotate(0) translateX(-280px);
        transform: rotate(0) translateX(-280px);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-280px);
        -ms-transform: rotate(360deg) translateX(-280px);
        -webkit-transform: rotate(360deg) translateX(-280px);
        transform: rotate(360deg) translateX(-280px);
    }
}

@keyframes rot-rocket {
    from {
        -moz-transform: rotate(0) translateX(-280px);
        -ms-transform: rotate(0) translateX(-280px);
        -webkit-transform: rotate(0) translateX(-280px);
        transform: rotate(0) translateX(-280px);
    }

    to {
        -moz-transform: rotate(360deg) translateX(-280px);
        -ms-transform: rotate(360deg) translateX(-280px);
        -webkit-transform: rotate(360deg) translateX(-280px);
        transform: rotate(360deg) translateX(-280px);
    }
}

.round-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rot 10s infinite linear;
    -moz-animation: rot 10s infinite linear;
    -o-animation: rot 10s infinite linear;
    animation: rot 10s infinite linear;
}

.round-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rot-back 6s infinite linear;
    -moz-animation: rot-back 6s infinite linear;
    -o-animation: rot-back 6s infinite linear;
    animation: rot-back 6s infinite linear;
}

.round-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rot 34s infinite linear;
    -moz-animation: rot 34s infinite linear;
    -o-animation: rot 34s infinite linear;
    animation: rot 34s infinite linear;
}

.round-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rot-back-inner 8s infinite linear;
    -moz-animation: rot-back-inner 8s infinite linear;
    -o-animation: rot-back-inner 8s infinite linear;
    animation: rot-back-inner 8s infinite linear;
}

.round-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rot-inner 28s infinite linear;
    -moz-animation: rot-inner 28s infinite linear;
    -o-animation: rot-inner 28s infinite linear;
    animation: rot-inner 28s infinite linear;
}

@-webkit-keyframes austronaut {
    from {
        -moz-transform: rotate(-50deg) scale(0.7);
        -ms-transform: rotate(-50deg) scale(0.7);
        -webkit-transform: rotate(-50deg) scale(0.7);
        transform: rotate(-50deg) scale(0.7);
        top: 1280px;
        left: 75px;
    }

    to {
        top: 1080px;
        left: 275px;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}

@-moz-keyframes austronaut {
    from {
        -moz-transform: rotate(-50deg) scale(0.7);
        -ms-transform: rotate(-50deg) scale(0.7);
        -webkit-transform: rotate(-50deg) scale(0.7);
        transform: rotate(-50deg) scale(0.7);
        top: 1280px;
        left: 75px;
    }

    to {
        top: 1080px;
        left: 275px;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}

@-o-keyframes austronaut {
    from {
        -moz-transform: rotate(-50deg) scale(0.7);
        -ms-transform: rotate(-50deg) scale(0.7);
        -webkit-transform: rotate(-50deg) scale(0.7);
        transform: rotate(-50deg) scale(0.7);
        top: 1280px;
        left: 75px;
    }

    to {
        top: 1080px;
        left: 275px;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}

@keyframes austronaut {
    from {
        -moz-transform: rotate(-50deg) scale(0.7);
        -ms-transform: rotate(-50deg) scale(0.7);
        -webkit-transform: rotate(-50deg) scale(0.7);
        transform: rotate(-50deg) scale(0.7);
        top: 1280px;
        left: 75px;
    }

    to {
        top: 1080px;
        left: 275px;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
    }
}

@-webkit-keyframes navigator {
    from {
        -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }

    to {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }
}

@-moz-keyframes navigator {
    from {
        -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }

    to {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }
}

@-o-keyframes navigator {
    from {
        -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }

    to {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }
}

@keyframes navigator {
    from {
        -moz-transform: rotate(-55deg);
        -ms-transform: rotate(-55deg);
        -webkit-transform: rotate(-55deg);
        transform: rotate(-55deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }

    to {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        -moz-transform-origin: 50% 100% 0 50%;
        -ms-transform-origin: 50% 100% 0 50%;
        -webkit-transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0 50%;
        transform-origin: 50% 100% 0;
        -moz-transform-origin: 50% 100% 0;
        -webkit-transform-origin: 50% 100% 0;
    }
}

.austronaut {
    z-index: 3;
    -webkit-animation: austronaut 10s infinite ease-in-out alternate;
    -moz-animation: austronaut 10s infinite ease-in-out alternate;
    -o-animation: austronaut 10s infinite ease-in-out alternate;
    animation: austronaut 10s infinite ease-in-out alternate;
}

@-webkit-keyframes infinite-spinning {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes infinite-spinning {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes infinite-spinning {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes infinite-spinning {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes infinite-spinning-alt {
    from {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-moz-keyframes infinite-spinning-alt {
    from {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-o-keyframes infinite-spinning-alt {
    from {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes infinite-spinning-alt {
    from {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.tiny-stars {
    position: absolute;
    top: 540px;
    left: 50%;
    margin-left: -528px;
    z-index: 1;
    -webkit-animation: infinite-spinning 40s infinite linear;
    -moz-animation: infinite-spinning 40s infinite linear;
    -o-animation: infinite-spinning 40s infinite linear;
    animation: infinite-spinning 40s infinite linear;
}

@media (max-width: 1440px) {
    .tiny-stars {
        top: 500px;
    }
}

.middle-stars {
    margin-left: -538px;
    -webkit-animation: infinite-spinning 30s infinite linear;
    -moz-animation: infinite-spinning 30s infinite linear;
    -o-animation: infinite-spinning 30s infinite linear;
    animation: infinite-spinning 30s infinite linear;
}


@-webkit-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 10px rgba(254,254,254,0.07);
    }
}

@-moz-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 10px rgba(254,254,254,0.07);
    }
}

@-o-keyframes pulsate {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 10px rgba(254,254,254,0.07);
    }
}

@keyframes pulsate {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 10px rgba(254,254,254,0.07);
    }
}

@-webkit-keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 20px rgba(254,254,254,0.07);
    }
}

@-moz-keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 20px rgba(254,254,254,0.07);
    }
}

@-o-keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 20px rgba(254,254,254,0.07);
    }
}

@keyframes pulsate-big {
    from {
        box-shadow: 0 0 0 0px rgba(254,254,254,0.07);
    }

    to {
        box-shadow: 0 0 0 20px rgba(254,254,254,0.07);
    }
}




.wrapper-nebula {
    position: absolute;
    top: 4460px;
    z-index: 0;
    width: 100%;
    height: 1000px;
}

@media (max-width: 1440px) {
    .wrapper-nebula {
        top: 4350px;
    }
}

.container-nebula {
    width: 100%;
    height: 100%;
}

    .container-nebula canvas {
        opacity: 0.3;
    }

    .container-nebula canvas:first-child {
        opacity: 0;
    }


.planet-2-area {
    position: relative;
    width: 600px;
    height: 560px;
    overflow: visible;
}

    .planet-2-area .text-layer {
        position: absolute;
        top: 200px;
        left: -110px;
        z-index: 10;
    }

        .planet-2-area .text-layer h3 {
            display: block;
            width: 826px;
            margin: 20px 0;
            text-align: center;
        }

        .planet-2-area .text-layer p {
            text-align: left;
            color: #fff;
            font-size: 22px;
            font-family: 'PT Sans', Arial, sans-serif;
        }

        .planet-2-area .text-layer .offset {
            width: 900px;
            padding-left: 310px;
        }

.planet-2-orbit {
    position: absolute;
    top: 0;
    left: 20px;
    width: 560px;
    height: 560px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed #fff;
}

.planet-2 {
   position: absolute;
top: 134%;
left: 50%;
margin: -244px 0 0 -239px;
z-index: 15;
}

.inline * {
    display: inline-block;
    vertical-align: middle;
}

.orbit-rocket {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -19px 0 0 -17px;
    -webkit-animation: rot-rocket 5s infinite linear;
    -moz-animation: rot-rocket 5s infinite linear;
    -o-animation: rot-rocket 5s infinite linear;
    animation: rot-rocket 5s infinite linear;
}




.planet-3-orbit {
    margin-left: -400px;
    z-index: 10000;
}

.planet-3-area {
    position: relative;
    width: 100%;
    height: 610px;    
}

    .planet-3-area .plus {
        position: absolute;
        top: 160px;
        width: 220px;
        padding-top: 145px;
        background-repeat: no-repeat;
        background-position: center top;
    }

        .planet-3-area .plus span {
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
        }

    .planet-3-area .plus-1 {
        background-image: url(../img/plus-1.png);
        left: 140px;
    }

    .planet-3-area .plus-2 {
        background-image: url(../img/plus-2.png);
        right: 140px;
    }

    .planet-3-area .block-bordered {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 590px;
        margin-left: -295px;
        padding: 15px;
        border: 1px solid #58838f;
        background-color: #041527;
    }

.planet-3-obits {
    position: absolute;
    top: 62%;
    left: 50%;
    margin-left: -460px;
    width: 459px;
    height: 459px;
    padding-top: 145px;
    background: url(../img/orbits.png);
    text-align: center;
    color: #fff;
}

    .planet-3-obits .text-huge {
        font-size: 100px;
        line-height: 110px;
        font-weight: bold;
        font-family: 'PT Sans', Arial, sans-serif;
    }

    .planet-3-obits p {
        width: 165px;
        margin: 0 auto;
    }

.magneto {
    position: absolute;
    left: 50%;
    z-index: 1;
    margin-left: -591px;
    width: 700px;
    height: 500px;
    top:62%;
}




#stars-cursor {
    position: fixed;
    top: 0;
    left: 0;
}

.a-left {
    position: absolute;
    left: -100%;
}

.a-right {
    position: absolute;
    left: 100%;
}

.b-left {
    position: absolute;
    left: -100%;
}

.b-right {
    position: absolute;
    left: 100%;
}



.wrapper-nebula {
    z-index: -1;
}
